table, th, td {
  border: 3px solid white;
}

table {
    border-collapse: collapse;
}

th, td {
    text-align: center;
    align-items: center;
    width: 33vw;
    color: white;
    font-size: 1.25em;
}

th {
    padding: 1em;
}

td {
    padding: 2em;
}

td:hover {
    background-color: var(--blue);
    cursor: pointer;
}

.card {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-card);
    padding: 0em;
    opacity: 0;
    /* transition: opacity 5s ease-in-out; */
    animation: fadeIn 0.5s ease-in forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.card-title-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
    background-color: var(--green);
    height: 3em;
    padding: 0 1em;
}

kbd {
    background-color: var(--white);
    color: var(--text-black);
    border: var(--ui-border);
    border-radius: 5px;
    padding: 0.1em;
}

.card-content {
    padding: 1em;
    font-size: 1.75em;
    line-height: 2;
}

#scoreboard {
    z-index: 999;
    position: fixed;
    bottom: 1em;
    left: 0;
    right: 0;
    gap: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.score-card {
    background-color: var(--white);
    color: var(--text-black);
    border: var(--ui-border);
    border-radius: 5px;
    padding: 0.5em 1em;
}

.input {
    position: relative;
    margin: 1.5em auto;
    width: 100%;
    max-width: 280px;
    border-radius: 10px;
    overflow: hidden;
}

.input input {
    -webkit-appearance: none;
    appearance: none;
    box-sizing: border-box;
    width: 100%;
    border: 0;
    padding: 20px 12px 8px 12px;
    height: 56px;
    font-size: 16px;
    font-weight: 400;
    color: var(--text-black);
    transition: all 0.15s ease;
    background: rgba(28, 40, 51, 0.05);
}

.input input:hover {
    background: rgba(28, 40, 51, 0.08);
}

.input input:focus {
    background: rgba(28, 40, 51, 0.05);
    outline: none;
    box-shadow: inset 0 -2px 0 var(--blue);
}

.input input:focus + .label,
.input input:not(:placeholder-shown) + .label {
    color: var(--blue);
    transform: translate3d(0, -30px, 0) scale(0.75);
}

.label {
    position: absolute;
    top: 1px;
    left: 12px;
    font-size: 16px;
    color: rgba(28, 40, 51, 0.6);
    font-weight: 500;
    transform-origin: 0 0;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
    pointer-events: none;
}

.focus-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.15s ease;
}

.input input:focus + .label + .focus-bg {
    transform: scaleX(1);
}