table, th, td {
  border: 3px solid white;
}

table {
    border-collapse: collapse;
}

th, td {
    text-align: center;
    align-items: center;
    width: 33vw;
    color: white;
    font-size: 1.25em;
}

th {
    padding: 1em;
}

td {
    padding: 2em;
}

td:hover {
    background-color: var(--blue);
    cursor: pointer;
}

td.inactive {
    opacity: 0.1;
    background-color: #000;
    cursor: default;
}

.card {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-card);
    padding: 0em;
    opacity: 0;
    /* transition: opacity 5s ease-in-out; */
    animation: fadeIn 0.5s ease-in forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.card-title-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
    background-color: var(--green);
    height: 3em;
    padding: 0 1em;
}

kbd {
    background-color: var(--white);
    color: var(--text-black);
    border: var(--ui-border);
    border-radius: 5px;
    padding: 0.1em;
}

.card-content {
    padding: 1em;
    font-size: 1.75em;
    line-height: 2;
}

#scoreboard {
    z-index: 999;
    position: fixed;
    bottom: 1em;
    left: 0;
    right: 0;
    gap: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.score-card {
    background-color: var(--white);
    color: var(--text-black);
    border: var(--ui-border);
    border-radius: 5px;
    padding: 0.5em;
    width: 6em;
    height: 5em;
    text-align: center;
    justify-content: center;
}

.score-card .name {
    color: #000;
    font-size: 1.5em;
}

.score-card .score {
    display: grid;
    place-items: center;
    color: #fff;
    background-color: var(--blue);
    height: 1.5em;
    font-size: 1.5em;
}

.input-container {
    position: relative;
    margin: 1.5em auto;
    width: 100%;
    max-width: 280px;
    border-radius: 10px;
    overflow: hidden;
}

.input-container input {
    margin-top: 30px;
    -webkit-appearance: none;
    appearance: none;
    box-sizing: border-box;
    width: 98%;
    border: 0;
    padding: 15px 12px;
    height: 56px;
    font-size: 16px;
    font-weight: 400;
    color: var(--text-black);
    transition: all 0.15s ease;
    background: rgba(28, 40, 51, 0.05);
}

.input-container input:hover {
    background: rgba(28, 40, 51, 0.08);
}

.input-container input:focus {
    background: rgba(28, 40, 51, 0.05);
    outline: none;
    box-shadow: inset 0 -2px 0 var(--blue);
}

.accuracy-feedback {
    position: absolute;
    font-size: 15px;
    font-weight: 750;
}

.accuracy-feedback.correct-answer {
    color: #6cd2c2 !important;
}

.accuracy-feedback.incorrect-answer {
    color: #e54442 !important;
}

.input-container input:focus + .label + .focus-bg {
    transform: scaleX(1);
}

.input-container input.correct-answer {
    background-color: #ddf4f1 !important;
    border: 2px solid #6cd2c2 !important;
}

.input-container input.incorrect-answer {
    background-color: #f7efef !important;
    border: 2px solid #e54442 !important;
}